.custom-table {
  margin: 10px 50px 35px 35px;

  table {
    vertical-align: baseline !important;
    th {
      .customcolumn {
        text-align: center !important;
      }
    }
    tr {
      .customcolumn {
        text-align: center !important;
      }
    }
  }
}
