.manage-specialty-container {
  .m-s-title {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: #0d6efd;
    text-transform: uppercase;
  }
  .container-title-specialty {
    display: flex;
    gap: 60px;
    .container-body-specialty {
      width: 25%;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      height: 570px;
      margin-left: 50px;
      padding: 50px;
      margin-top: 50px;
      .form-row {
        .title-custom1-specialty {
          font-size: 18px;
          margin: 20px 0;
        }
        .title-custom2-specialty {
          font-size: 18px;
          margin: 20px 0;
        }
        .preview-img-container {
          display: flex;
          align-items: center;
          margin-top: -20px;
          .label-upload {
            cursor: pointer;
            height: 90px;
            width: 85px;
            display: flex;
            align-items: center;
            justify-content: left;
            &:hover {
              opacity: 0.9;
            }
            .img {
              background: url("../../../assets/icon/file.png") center center
                no-repeat;
              height: 60px;
              width: 80px;
              cursor: pointer;
              background-size: contain;
              margin-right: 25px;
            }
          }
          .preview-image {
            width: 100%;
            height: 60px;
            border: 1px solid #ddd;
            background: center center no-repeat;
            background-size: contain;
            cursor: pointer;
            margin-right: 0rem !important;
          }
        }
      }

      .btn-custom-specialty {
        margin-top: 35px;
        margin-left: 10px;
      }
    }
    .introductory-information {
      width: 45%;
      margin-top: 50px;
      flex-wrap: wrap;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      height: 570px;
      padding: 30px 60px;

      .title-custom3-specialty {
        font-size: 18px;
        margin-left: 5px;
      }
      .form-group-custom {
        padding: 10px 0;
        margin-top: 7px;
        .custom-mdeditor-specialty {
          height: 450px !important;
        }
      }
    }
    .table-specialty {
      width: 30%;
      margin: 50px 50px 0 0;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      .custom-scrollbar {
        .specialty-table {
          padding: 30px;
        }
      }
    }
  }
}
