.modal-content {
  //   .modal-body {
  //   }

  .modal-header-custom {
    background-color: #ffff;
    box-shadow: none;
    button {
      color: #333;
    }
    .modal-title {
      font-weight: 500;
      color: #333;
      font-size: 18px;
    }
  }

  //   .modal-footer {
  //   }
}
