.modal-content {
  //   .modal-body {
  //   }

  .modal-header-custom {
    background-color: #ffff;
    box-shadow: none;
    button {
      color: #333;
    }
    .modal-title {
      font-weight: 500;
      color: #333;
      font-size: 18px;
    }
  }
  .modal-body {
    .price-custom {
      margin: 20px 0;
      .price-custom-title {
        color: #333;
        font-weight: 500;
        font-size: 18px;
        .price-custom-body {
          padding-left: 5px;
          color: red;
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }

  //   .modal-footer {
  //   }
}
