.title {
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 24px !important;
}
.user-redux-container {
  display: flex;
  .container-left {
    width: 30%;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin: auto 45px;
    border-radius: 1rem;
    .preview-img-container {
      display: flex;
      align-items: center;
      margin-top: -20px;
      .label-upload {
        cursor: pointer;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: left;
        &:hover {
          opacity: 0.9;
        }
        .img {
          background: url("../../../assets/icon/file.png") center center
            no-repeat;
          height: 60px;
          width: 80px;
          cursor: pointer;
          background-size: contain;
        }
      }
      .preview-image {
        width: 100%;
        height: 60px;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
        margin-right: 0rem !important;
      }
    }
    label {
      margin: 10px 0;
    }
  }
  .container-right {
    width: 70%;
    //margin-left: 15px;
    padding: 20px;
    //margin: auto 30px;
    margin-right: 45px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
  }
}
