.manage-schedule-container {
  .m-s-title {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: #0d6efd;
    text-transform: uppercase;
  }
  .container-title {
    display: flex;
    gap: 60px;
    .container-body {
      width: 40%;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      height: 570px;
      margin-left: 250px;
      padding: 50px;
      margin-top: 50px;
      .form-row {
        .title-custom1 {
          font-size: 18px;
          margin: 20px 0;
        }
        .title-custom2 {
          font-size: 18px;
          margin: 20px 0;
        }
      }
      .btn-custom {
        margin-top: 25px;
        margin-left: 10px;
      }
    }
    .pick-hour-container {
      display: flex;
      width: 60%;
      margin-top: 50px;
      flex-wrap: wrap;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      height: 570px;
      padding: 30px 60px;
      .custom-btn {
        background-color: #ffff;
        color: #333;
        border-radius: 0.1rem;
      }
      .custom-btn-active {
        &.active {
          background-color: #29af33;
          color: #ffff;
          border-radius: 0.1rem;
        }
      }
      .title-custom3 {
        font-size: 18px;
        margin-left: 18px;
        margin-bottom: 20px;
      }
      .form-group-custom {
        display: inline-grid;
        padding: 10px 0;
        // margin-top: 20px;
      }
      .table-custom {
        width: 600px;
        padding: 15px;
        margin-left: 125px;
        .customcolumn-ngay {
          text-transform: uppercase;
        }
      }
    }
  }
}
